{% extends "base.html" %}
{% block title %}
    <title>Image Cropper</title>
{% endblock %}
{% block content %}

    <a href="{% url 'index' %}">Назад к списку</a>
    <h1>{{ imageload.title }}</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.as_ul }}
        </div>
        <br>
      <button type="submit">Resize</button>
    </form>
    <br>
    <img src="{{ imageload.image.url }}" alt="{{ imageload.title }}">

{% endblock %}